section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2rem 1rem;
    color: #b184ff;
    text-shadow: 0 0 8px #8a2be2;
    box-sizing: border-box;
}

.itemListContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    width: 70%;
}

section p {
    font-size: 1.5rem;       
    margin: 1rem 0;            
    text-align: center;       
    font-weight: 500;         
    text-shadow: 0 0 5px #8a2be2; /
}